@use '../../node_modules/bootstrap/scss/bootstrap.scss' as *;

body {

    font-family: 'Raleway', sans-serif;
}

.block {
    width: 100%;
    height: 900px;
    background-image: url(src/assets/img/HelloIMG1669149393797.jpeg);
    background-size: cover;
    background-position-y: -120px;


    button {
        color: white;
        padding: 9px 33px;
        background-color: #fec96b;
        border: none;
        margin-right: 37px;
        margin-top: 24px;
    }

    img {
        width: 249px;
        height: auto;
        margin-left: 38px;
        margin-top: 20px;
    }
}

.background_image {
    opacity: 0.3;
    position: absolute;
}

.list_menu {
    list-style-type: none;
    margin-top: 40px;

    li {
        margin-right: 81px;
    }
}

.central_header {
    text-align: center;
    margin-top: 193px;

    h1 {
        color: white;
        font-size: 80px;

    }

    p {
        color: white;
        margin-top: 13px;
        font-size: 23px;
    }

    .button_mission {
        background-color: transparent;
        border: 1px solid white;
        color: white;
        padding: 9px 37px;
        font-size: 16px;
        margin-left: 40px;
    }

    button {
        background-color: transparent;
        border: #fec96b 1px solid;
        color: #fec96b;
        margin-left: -15px;
    }
}

.block_moment {
    width: 100%;
    height: 685px;

    .line {
        border-top: #fec96b 3px solid;
        width: 200px;
        height: 4px;
        margin-top: 27px;
    }

    p {
        margin-top: 42px;
        line-height: 33px;
    }

    .text_2 {
        margin-top: 26px;
    }

    button {
        background-color: #fec96b;
        color: white;
        border: none;
        padding: 9px 37px;
        margin-top: 20px;
    }

    .background_image_world {
        background-color: #ed6967;
    }

    .number_person {
        height: 100%;
        margin: auto;
        background-image: url(src/assets/img/HelloIMG1669149365035.jpeg);
        background-size: 700%;
        background-position-x: 25%;
        background-position-y: 20%;
        opacity: 0.1;

        path {

            fill: white !important;

        }
    }

    .number_volontareers {
        padding: 30px;

        h1 {
            margin-top: 43px;
            margin-left: -14px;
            font-size: 59px;
            text-align: center;
        }

        svg {
            font-size: 40px;
            margin-left: 15px;
            margin-bottom: 12px;
        }

        p {
            margin-top: -9px;
            font-size: 24px;
        }
    }

    .number_project {
        padding: 30px;

        h1 {
            font-size: 62px;
            margin-top: -18px;
            margin-left: -25px;
            text-align: center;
        }

        svg {
            font-size: 39px;
            margin-top: -5px;
            margin-left: 25px;
        }

        p {
            margin-top: -9px;
            font-size: 24px;
        }
    }

    .number_donation {
        padding: 30px;

        h1 {
            font-size: 58px;
            margin-top: -21px;
            margin-left: -22px;
            text-align: center;
        }

        svg {
            font-size: 48px;
            margin-top: -5px;
            margin-left: 20px;
        }

        p {
            margin-top: -6px;
            font-size: 24px;
            margin-left: 38px;
        }
    }
}

.values {
    width: 100%;
    height: 930px;
    background-image: url(src/assets/img/home-content-bg-2.jpg);
    background-size: 130%;
    background-position-x: 51%;
    background-position-y: 90%;

    .titol_values {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .line_second {
        border-top: #fec96b 3px solid;
        width: 200px;
        height: 4px;
        margin-top: 18px;
    }

    h1 {
        margin-top: 111px;
        color: #e5e5e5;
    }

    p {
        font-size: 23px;
        color: #e5e5e5;
    }

    .container_values {
        max-width: 1540px;
    }

    .block_col {
        text-align: center;

        svg {
            font-size: 55px;

            path {

                fill: #fec96b !important;

            }
        }

        h4 {
            color: #e5e5e5;
            font-size: 27px;
        }

        .text_values {
            font-size: 16px;
            line-height: 34px;
            margin-top: 20px !important;
        }
    }
}

.titol_causes {
    .line2 {
        border-top: #fec96b 3px solid;
        width: 200px;
        height: 4px;
        margin: 30px auto 0px auto;
    }

    p {
        font-size: 23px;
    }
}

.block_img {
    max-width: 1534px;
    margin: 86px auto;
}